# Tahiti configuration file
tahiti:
    debug: true
    servers:
        database_url: mysql://user:secret@server:3306/tahiti
    services:
    config:
        SQLALCHEMY_POOL_SIZE: 10
        SQLALCHEMY_POOL_RECYCLE: 240

